<a href="https://colab.research.google.com/github/Grashch/Data-science/blob/main/Clustering_marketing_campaign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans, DBSCAN, HDBSCAN
from sklearn.metrics import silhouette_score, davies_bouldin_score
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
data = pd.read_csv('/content/marketing_campaign.csv')
data.dropna(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2216 entries, 0 to 2239
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           2216 non-null   int64
 1   ID                   2216 non-null   int64
 2   Year_Birth           2216 non-null   int64
 3   Education            2216 non-null   object
 4   Marital_Status       2216 non-null   object
 5   Income               2216 non-null   float64
 6   Kidhome              2216 non-null   int64
 7   Teenhome             2216 non-null   int64
 8   Dt_Customer          2216 non-null   object
 9   Recency              2216 non-null   int64
 10  MntWines             2216 non-null   int64
 11  MntFruits            2216 non-null   int64
 12  MntMeatProducts      2216 non-null   int64
 13  MntFishProducts      2216 non-null   int64
 14  MntSweetProducts     2216 non-null   int64
 15  MntGoldProds         2216 non-null   int64
 16  NumDealsPurchases    2216 non-null   int64
 17  NumWebPurchases      2216 non-null   int64
 18  NumCatalogPurchases  2216 non-null   int64
 19  NumStorePurchases    2216 non-null   int64
 20  NumWebVisitsMonth    2216 non-null   int64
 21  AcceptedCmp3         2216 non-null   int64
 22  AcceptedCmp4         2216 non-null   int64
 23  AcceptedCmp5         2216 non-null   int64
 24  AcceptedCmp1         2216 non-null   int64
 25  AcceptedCmp2         2216 non-null   int64
 26  Complain             2216 non-null   int64
 27  Z_CostContact        2216 non-null   int64
 28  Z_Revenue            2216 non-null   int64
 29  Response             2216 non-null   int64
dtypes: float64(1), int64(26), object(3)
memory usage: 536.7+ KB

In [9]:
from datetime import datetime
data['Age'] = 2015 - data['Year_Birth']
data['Dt_Customer'] = pd.to_datetime(data['Dt_Customer'])
data['Days as a Client'] = (datetime(2015, 1, 1) - data['Dt_Customer']).dt.days
data.head()

,Unnamed: 0,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,...,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Age,Days as a Client
0,0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,...,0,0,0,0,0,3,11,1,58,849
1,1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,...,0,0,0,0,0,3,11,0,61,299
2,2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,...,0,0,0,0,0,3,11,0,50,498
3,3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,...,0,0,0,0,0,3,11,0,31,325
4,4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,...,0,0,0,0,0,3,11,0,34,347

In [4]:
s = (data.dtypes == 'object')
object_cols = list(s[s].index)
object_cols

['Education', 'Marital_Status']

In [19]:
data['Education_encoder'] = data['Education']
encoder = LabelEncoder()
data['Education_encoder'] = encoder.fit_transform(data['Education_encoder'])

In [20]:
data['Education_encoder'].value_counts()

Education_encoder
2    1116
4     481
3     365
0     200
1      54
Name: count, dtype: int64

In [10]:
data['Marital_Status_binary'] = data['Marital_Status'].replace({
    'Married' : '1',
    'Together' : '1',
    'Single' : '0',
    'Divorced' : '0',
    'Widow' : '0',
    'Alone' : '0',
    'Absurd' : '0',
    'YOLO' : '0'
}).astype(int)

In [15]:
data['Marital_Status_binary'].value_counts()

Marital_Status_binary
1    1430
0     786
Name: count, dtype: int64