<a href="https://colab.research.google.com/github/Grashch/Data-science/blob/main/Clustering_marketing_campaign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans, DBSCAN, HDBSCAN
from sklearn.metrics import silhouette_score, davies_bouldin_score
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
data = pd.read_csv('/content/marketing_campaign.csv')
data.dropna(inplace=True)
data.head()

   Unnamed: 0    ID  Year_Birth  ... Z_CostContact Z_Revenue  Response
0           0  5524        1957  ...             3        11         1
1           1  2174        1954  ...             3        11         0
2           2  4141        1965  ...             3        11         0
3           3  6182        1984  ...             3        11         0
4           4  5324        1981  ...             3        11         0

[5 rows x 30 columns]

In [16]:
from datetime import datetime
data['Age'] = datetime.now().year - data['Year_Birth']
data['Dt_Customer'] = pd.to_datetime(data['Dt_Customer'])
data['Days as a Client'] = (datetime.now() - data['Dt_Customer']).dt.days
data.head()

   Unnamed: 0    ID  Year_Birth  ... Response Age  Days as a Client
0           0  5524        1957  ...        1  68              4831
1           1  2174        1954  ...        0  71              4281
2           2  4141        1965  ...        0  60              4480
3           3  6182        1984  ...        0  41              4307
4           4  5324        1981  ...        0  44              4329

[5 rows x 32 columns]

In [9]:
s = (data.dtypes == 'object')
object_cols = list(s[s].index)
object_cols

['Education', 'Marital_Status', 'Dt_Customer']