<a href="https://colab.research.google.com/github/Grashch/Data-science/blob/main/Clustering_marketing_campaign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans, DBSCAN, HDBSCAN
from sklearn.metrics import silhouette_score, davies_bouldin_score
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
data = pd.read_csv('/content/marketing_campaign.csv')
data.dropna(inplace=True)
data.head()

   Unnamed: 0    ID  Year_Birth  ... Z_CostContact Z_Revenue  Response
0           0  5524        1957  ...             3        11         1
1           1  2174        1954  ...             3        11         0
2           2  4141        1965  ...             3        11         0
3           3  6182        1984  ...             3        11         0
4           4  5324        1981  ...             3        11         0

[5 rows x 30 columns]